/* Estilo global */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  /* Estilo del encabezado h1 */
  h1 {
    font-size: 2em;
    text-align: center;
    margin: 20px 0;
    color: #333;
  }
  
  /* Estilo del formulario */
  form {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
  }
  
  form input[type="text"],
  form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  /* Estilo de la tabla */
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
  }
  
  /* Cambiar el estilo de las celdas pares para mayor legibilidad */
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  a {
    color: #007BFF; /* Cambia el color de los enlaces a azul */
    text-decoration: none; /* Elimina el subrayado predeterminado */
    transition: color 0.3s; /* Agrega una transición suave al color al pasar el cursor sobre los enlaces */
  }
  
  a:hover {
    color: #0056b3; /* Cambia el color al pasar el cursor sobre los enlaces */
  }